<div class="clearfix">
  <a href="/register" class="pull-right btn btn-positive micro-xs-padding">
    Join for Free
  </a>
  <a href="/login" class="pull-right btn text-dark btn-clear micro-xs-padding tiny-xs-right-margin">
    Login
  </a>
</div>
