<div class="clearfix">
  <a href="<%= register_path %>" class="pull-right btn btn-positive
    tiny-xs-horizontal-padding micro-xs-vertical-padding btn-bordered border-positive
    <%= "active" if @mode == "register" %> tiny-xs-left-margin">
    Join for Free
  </a>
  <a href="<%= login_path %>" class="pull-right border-text text-text
    btn-bordered btn btn-clear tiny-xs-horizontal-padding micro-xs-vertical-padding
    text-dark-active  <%= "active" if @mode == "login" %>">
    Login
  </a>
</div>
