<div class="clearfix">
  <a href="<%= register_path %>" class="pull-right btn btn-positive micro-xs-padding
    <%= "active" if @mode == "register" %>">
    Join for Free
  </a>
  <a href="<%= login_path %>" class="pull-right btn text-dark btn-clear micro-xs-padding
    tiny-xs-right-margin text-dark-active <%= "active" if @mode == "login" %>">
    Login
  </a>
</div>
