<div class="benefits small-xs-padding bordered border-top-border border-left-border border-right-border border-bottom-border">
  <h5>What are the benefits?</h5>
  <p class="text-text micro-xs-top-margin small-xs-bottom-margin">Get free access to all these great features with Stockflare.</p>
  <ul class="hidden-bullets">
    <li class="small-xs-vertical-margin">
      <h6><i class="micro-xs-right-margin icon-brand fa fa-expand"></i>Upvote &amp; Downvote News</h6>
    </li>
    <li class="small-xs-vertical-margin">
      <h6><i class="micro-xs-right-margin icon-brand fa fa-eye"></i>Watch Unlimited Stocks</h6>
    </li>
    <li class="small-xs-vertical-margin">
      <h6><i class="micro-xs-right-margin icon-brand fa fa-comments"></i>Join the Discussion</h6>
    </li>
    <li class="small-xs-top-margin">
      <h6><i class="micro-xs-right-margin icon-brand fa fa-cogs"></i>Constant Updating</h6>
    </li>
  </ul>
</div>
