<div class="small-xs-padding bordered border-top-border border-left-border border-right-border border-bottom-border">
  <h4>What are the benefits?</h4>
  <p>Get free access to all these great features with Stockflare.</p>
  <ul class="hidden-bullets">
    <li class="tiny-xs-vertical-margin">
      <h5 class="weak"><i class="small-xs-right-margin icon-brand fa fa-expand"></i>Upvote &amp; Downvote News</h5>
    </li>
    <li class="tiny-xs-vertical-margin">
      <h5 class="weak"><i class="small-xs-right-margin icon-brand fa fa-eye"></i>Watch Unlimited Stocks</h5>
    </li>
    <li class="tiny-xs-vertical-margin">
      <h5 class="weak"><i class="small-xs-right-margin icon-brand fa fa-comments"></i>Join the Discussion</h5>
    </li>
    <li class="tiny-xs-vertical-margin">
      <h5 class="weak"><i class="small-xs-right-margin icon-brand fa fa-cogs"></i>Constant Updating</h5>
    </li>
  </ul>
</div>
