<div class="small-xs-vertical-margin small-xs-horizontal-padding container">
  <div class="small-xs-horizontal-margin row micro-xs-vertical-padding">
    <div class="col-md-8 small-xs-padded-col">
      <div class="background-normal small-xs-padding">
        <%= yield %>
      </div>
    </div>
    <div class="col-md-4 small-xs-padded-col">
      <%= render partial: 'benefits' %>
    </div>
  </div>
</div>
