<div class="container">
  <div class="small-sm-horizontal-margin row micro-sm-vertical-padding">
    <div class="col-md-8 col-xs-12 small-sm-padded-col">
      <div class="background-normal tiny-xs-padding medium-sm-padding">
        <%= yield %>
      </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 small-xs-padded-col">
      <%= render partial: 'benefits' %>
    </div>
  </div>
</div>
