<div class="container">
  <div class="row">
    <div class="col-md-9 white">
      <h2>Welcome back to Stockflare</h2>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Email Address">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
         <button type="button" class="btn btn-success bright">Login &rarr;</button>
      </div>
      <div class="forgotten">
        <p>Forgotten your details? Retrieve them <a href="#">here</a></p>
        <p>Need an account? You can easily register <a href="#">here</a></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12 side">
        <h4>What's the benefits to me?</h4>
        <p>Below are all the great features you get just by registering</p>
        <ul>
          <li><i class="fa fa-expand"></i>Upvote & Downvote News</li>
          <li><i class="fa fa-eye"></i>Watch Unlimited Stocks</li>
          <li><i class="fa fa-comments"></i>Join the Discussion</li>
          <li><i class="fa fa-cogs"></i>Constant Updating</li>
        </ul>
      </div>
    </div>
  </div>
</div>