<%= render layout: "form" do %>
  <h2 class="abs-line-height small-xs-bottom-margin">Welcome back to Stockflare</h2>
  <p class="small-xs-vertical-margin">If you have already registered for Stockflare, you can use your existing username and password below.</p>
  <form action="<%= login_path %>" method="POST" class="form small-xs-top-margin" enctype="multipart/form-data">
    <div class="form-group small-xs-vertical-margin" data-fields="email">
      <div class="sr-label">
        <label>Email Address</label>
        <div>
          <input value="<%= @username %>" name="username" class="form-control" placeholder="Email Address" type="text">
        </div>
      </div>
    </div>
    <div class="form-group small-xs-vertical-margin" data-fields="password">
      <div class="sr-label">
        <label>Password</label>
        <div>
          <input name="password" class="form-control" placeholder="Password" type="password">
        </div>
      </div>
    </div>
    <div class="form-group small-xs-vertical-margin">
      <input type="submit" class="login-submit btn btn-positive micro-xs-padding" value="Login">
    </div>
    <div class="form-group small-xs-vertical-margin">
      <p><a href="https://stockflare.com/forgot" target="_blank">I've forgotten my password</a></p>
    </div>
    <div class="prompt form-group small-xs-top-margin">
      <p>Not a member? <a class="register-btn" href="<%= register_path %>">Sign up free here</a></p>
    </div>
  </form>
<% end %>
