<%= render layout: "form" do %>
  <h2 class="abs-line-height small-xs-bottom-margin">Join Stockflare</h2>
  <p class="small-xs-vertical-margin">Registering is easy, simply enter your email address and choose a password using the form below.</p>
  <form action="<%= register_path %>" method="post" class="form small-xs-top-margin" enctype="multipart/form-data">
    <div class="form-group small-xs-vertical-margin" data-fields="email">
      <div class="sr-label">
        <label>Email Address</label>
        <div>
          <input value="<%= @username %>" name="username" class="form-control" placeholder="Email Address" type="text">
        </div>
      </div>
    </div>
    <div class="form-group small-xs-vertical-margin" data-fields="password">
      <div class="sr-label">
        <label>Password</label>
        <div>
          <input name="password" class="form-control" placeholder="Password" type="password">
        </div>
      </div>
    </div>
    <div class="form-group small-xs-vertical-margin">
      <input type="submit" class="btn btn-positive micro-xs-padding" value="Register for Stockflare">
    </div>
    <div class="form-group small-xs-vertical-margin">
      <p>By using our website or clicking 'Register for Stockflare' you agree to our
        <a href="http://pages.stockflare.com/privacy" target="_blank">
          Privacy Policy
        </a> &amp;
        <a href="http://pages.stockflare.com/tos" target="_blank">
          Terms of Service
        </a>
      </p>
    </div>
    <div class="prompt form-group small-xs-top-margin">
      <p>Already a member? <a href="<%= login_path %>">Login here</a></p>
    </div>
  </form>
<% end %>
