<meta charset="utf-8">
<meta name="fragment" content="!">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>News</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<%= stylesheet_link_tag 'application', media: 'all' %>

<%= csrf_meta_tags %>

<meta name="author" content="Stockflare">
<meta name="keywords" content="stocks, stockflare, investment, ideas, finance, news">

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@stockflare">
<meta name="twitter:creator" content="@stockflare">

<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="">

<link type="text/plain" rel="author" href="https://stockflare.com/humans.txt">
