<div class="small-xs-vertical-margin small-xs-horizontal-padding container">
  <div class="small-xs-horizontal-padding">
    <div class="jumbotron" style="background-image:url(<%= path_to_image("jumbotrons/grexit.png") %>)">
    </div>
  </div>
</div>
