<div class="small-xs-vertical-margin small-xs-horizontal-padding container">
  <div class="small-xs-horizontal-padding">
    <div class="row border-top-border micro-xs-vertical-padding border-bottom-border">
      <div class="col-md-offset-8 col-md-4 text-right">
        <a href="?cursor=<%= @cursor %>">
          <h5 class="text-upcase">Older</h5>
        </a>
      </div>
    </div>
  </div>
</div>
