<div class="small-xs-vertical-margin small-xs-horizontal-padding container">
  <div class="small-xs-horizontal-padding">
    <div class="row border-top-border micro-xs-vertical-padding border-bottom-border">
      <div class="col-md-4 text-left">
        <h6 class="">
          <%= @date.strftime("#{@date.day.ordinalize} %B %Y") %>
        </h6>
      </div>
      <div class="col-md-4 text-center">

      </div>
      <div class="col-md-4 text-right">
        <h6 class="text-upcase weak">Share</h6>
      </div>
    </div>
  </div>
</div>
