<div class="tagger-background">
  <div class="container">
    <div class="tagger-container">
      <div class="tagger editor background-normal tiny-xs-padding small-xs-bottom-margin medium-xs-top-margin bordered clearfix">
        <div class="tags pull-left clearfix"></div>
        <input class="pull-left" name="tagger" type="text" />
      </div>
      <div class="clearfix popular tags medium-xs-bottom-margin text-center">
        <div class="tag">personal</div>
        <div class="tag">finance</div>
        <div class="tag">china</div>
        <div class="tag">business</div>
        <div class="tag">greece</div>
      </div>
    </div>
  </div>
</div>
