<div class="container">
  <div class="jumbotron">
  </div>
</div>


<div class="container">
  <div class="breaker">
    <div class="row">
      <div class="col-md-4 text-left">
        <h4>1234 Articles</h4>
      </div>
      <div class="col-md-4 text-center">
        <h4><%= Time.now.strftime("%m/%d/%Y") %></h4>
      </div>
      <div class="col-md-4 text-right">
        <h4>Share</h4>
      </div>
    </div>
  </div>

  <% @posts.each do |p| %>
  <article>
    <div class="row">

      <div class="col-md-1">
      </div>

      <div class="col-md-8">
        
          <h2><%= p.title %></h2>
          <p><%= p.excerpt %></p>
          <div class="tags">
            <% p.tags.each do |t| %>
              <a class="tag">#<%= t %></a>
            <% end %>
          </div>
        
      </div>

      <div class="col-md-1">
      </div>

    </div>
  </article>
  <% end %>

</div>

