<%= render partial: 'header' %>

<div class="container">
  <div class="small-xs-horizontal-padding">
    <%= render partial: 'post', collection: @posts %>
  </div>
</div>

<%= render partial: 'footer' %>
