<% @mode = 'recent' %>

<% title "#{@mode.titleize} News" %>

<%= render partial: 'tagger' %>

<% @posts.each do |date, collection| %>
  <% if collection.posts.any? %>
    <%= render partial: 'header', locals: { date: date, paginate: true } %>
    <div class="container">
      <div class="no-xs-horizontal-padding small-sm-horizontal-padding">
        <%= render partial: 'post', collection: collection.posts %>
      </div>
    </div>
  <% end %>
<% end %>
