@import "variables";

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

.tagger-container {
  padding: $large_spacing $small_spacing;

  @media screen and ( max-height: 750px ) {
    padding: 10px $small_spacing;
  }
}

.tagger-background {
  background-size: cover;
  background-repeat: norepeat;
  background-position: center center;
  background-image: url(/assets/common/tag-background.png);
}

.popular.tags {
  .tag {
    padding: 4px 10px;
    border-radius: 3px;
    color: $normal;
    background: rgba($royal, .3);
    float: none;
    display: inline-block;
    font-weight: 600;
  }
}

.tags {
  .tag {
    cursor: pointer;
    float: left;
    font-size: 12px;
    text-transform: lowercase;
    margin-left: $micro_spacing;
    @include vendor-prefix(user-select, none);

    &:first-child {
      margin-left: 0;
    }
  }
}

.tagger.editor {
  input {
    padding: 2px 0px;
    font-size: 21px;
    color: #bebebe;
    background: $normal;
  }

  .apply {
    float: right;
    padding: 8px 10px;
    display: none;
  }

  .tags.modified + input + .apply { display: block; }

  .tag {
    margin-left: $micro_spacing;
    border-radius: 3px;
    background: $brand;
    color: $normal;
    font-weight: 600;
    padding: 8px 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: $micro_spacing;
    }
  }
}

article {
  .tag {
    color: #000;
    opacity: .3;
    padding: 3px 4px;
    border-radius: 2px;
    border: solid 1px #979797;

    &.active {
      background: $brand;
      color: $normal;
      border-color: $brand;
      opacity: 1;
    }

    &:first-child {
      & > div {
        margin-left: 0 !important;
      }
    }
  }
}

article:hover {
  .tag { opacity: .6; }
}
