@import "variables";

.tags {
  .tag {
    & > div {
      color: #000;
      opacity: .3;
      font-size: 12px;
      padding: 3px 4px;
      border-radius: 2px;
      border: solid 1px #979797;

      &.active {
        background: $brand;
        color: $normal;
        border-color: $brand;
        opacity: 1;
      }
    }

    &:first-child {
      & > div {
        margin-left: 0 !important;
      }
    }
  }
}

article:hover {
  .tag > div {
    opacity: .6;
  }
}
