@import "variables";

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

.banner {
  &.register {
    position: relative;
    height: 215px;
    overflow: hidden;
    border: solid 1px $border;

    .text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;

      h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
      }

      p {
        color: $dark;
        opacity: .5;
      }
    }

    .parallax {
      position: absolute;
      overflow: hidden;
      z-index: 1;
      right: 0;
      top: -35%;
      width: 540px;
      height: 399px;

      .layer-0, .layer-1, .layer-2, .layer-3, .foreground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        @include vendor-prefix(animation-duration, 6.4s);
        @include vendor-prefix(animation-direction, alternate);
        @include vendor-prefix(animation-timing-function, ease-in-out);
        @include vendor-prefix(animation-iteration-count, infinite);
        @include vendor-prefix(animation-fill-mode, both);
      }

      .layer-0 {
        @include vendor-prefix(animation-name, layer-0-motion);
        background-image: url(/assets/jumbotrons/4.jpg);
        z-index: 10;
      }

      .layer-1 {
        @include vendor-prefix(animation-name, layer-1-motion);
        background-image: url(/assets/jumbotrons/3.png);
        z-index: 11;
      }

      .layer-2 {
        @include vendor-prefix(animation-name, layer-2-motion);
        background-image: url(/assets/jumbotrons/2.png);
        z-index: 12;
      }

      .layer-3 {
        @include vendor-prefix(animation-name, layer-3-motion);
        background-size: 110% 110%;
        background-image: url(/assets/jumbotrons/1.png);
        background-position: bottom center;
        z-index: 13;
      }

      .foreground {
        // @TODO: Jonathan
        background: -moz-linear-gradient(left,  #f9fafc 0%, rgba(234,234,234,0) 67%, rgba(229,229,229,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9fafc), color-stop(67%,rgba(234,234,234,0)), color-stop(100%,rgba(229,229,229,0)));
        background: -webkit-linear-gradient(left,  #f9fafc 0%,rgba(234,234,234,0) 67%,rgba(229,229,229,0) 100%);
        background: -o-linear-gradient(left,  #f9fafc 0%,rgba(234,234,234,0) 67%,rgba(229,229,229,0) 100%);
        background: -ms-linear-gradient(left,  #f9fafc 0%,rgba(234,234,234,0) 67%,rgba(229,229,229,0) 100%);
        background: linear-gradient(to right,  #f9fafc 0%,rgba(234,234,234,0) 67%,rgba(229,229,229,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafc', endColorstr='#00e5e5e5',GradientType=1 );
        z-index: 14;
      }
    }
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(layer-0-motion) {
  0%    { transform: translate3d(0px, 0px, 0px); }
  10%   { transform: translate3d(0.1%, 0px, 0px); }
  90%   { transform: translate3d(2.6666666%, 0px, 0px); }
  100%  { transform: translate3d(2.6756666%, 0px, 0px); }
}

@include keyframes(layer-1-motion) {
  0%    { transform: translate3d(0px, 0px, 0px); }
  10%   { transform: translate3d(0.1%, 0px, 0px); }
  90%   { transform: translate3d(2%, 0px, 0px); }
  100%  { transform: translate3d(2.06%, 0px, 0px); }
}

@include keyframes(layer-2-motion) {
  0%    { transform: translate3d(0px, 0px, 0px); }
  10%   { transform: translate3d(0.1%, 0px, 0px); }
  90%   { transform: translate3d(1.33333333%, 0px, 0px); }
  100%  { transform: translate3d(1.39333333%, 0px, 0px); }
}

@include keyframes(layer-3-motion) {
  0%    { transform: translate3d(0px, 0px, 0px); }
  10%   { transform: translate3d(0.1%, 0px, 0px); }
  90%   { transform: translate3d(0.33333333%, 0px, 0px); }
  100%  { transform: translate3d(0.39333333%, 0px, 0px); }
}
