@import "variables";

article {
  &:hover {
    background: rgba(#FFF, 0.6)
  }

  h2 {
    font-size: 20px;
  }

  .porthole {
    border-radius: 80px;
    overflow: hidden;
    background: $bright;

    img {
      height: 40px;
      width: 40px;
    }
  }
}
