<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
</head>
<body>
  <%= render partial: "shared/header/#{header_partial}", layout: "shared/header/header" %>
  <%= yield %>
  <%= render "shared/footer" %>
</body>
</html>
